COMPOSE_PROJECT_NAME=creditflow
APP_ENV=develop

FRONTEND_PORT=3000
BACKEND_PORT=8080
POSTGRES_PORT=5432

POSTGRES_DB=creditflow
POSTGRES_USER=creditflow
POSTGRES_PASSWORD=change-me

DB_CONNECT_TIMEOUT_SECONDS=60
REQUEST_TIMEOUT_SECONDS=15
CORS_ALLOWED_ORIGINS=http://localhost:3000
NUXT_PUBLIC_API_BASE=/api
BACKEND_INTERNAL_URL=http://api:8080
